@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar-color {
  background-color: #ACC5A4; /* Replace with your desired hex color */
}

.page-background-color {
  background-color: #ECF3E8; /* Replace with your desired hex color */
}

.ut_h4 {
  margin-bottom: 10px;
}

.big-quote {
  font-size: 4rem; /* Adjust the font size as desired */
  font-weight: bold;
  margin-right: 8px; /* Add spacing between the quotation marks and text */
  color: #8FA389;
  line-height: 5px;
}

a {
  color: white;
}

/* #pie-chart-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bar-chart-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} */